body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: #020617;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #38bdf8;
  border: none;
  color: white;
  cursor: pointer;
}

.layout {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #020617;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 20px;
}

.stats {
  display: flex;
  gap: 10px;
}

.card {
  background: #020617;
  padding: 15px;
}

.event {
  background: #020617;
  padding: 10px;
  margin: 10px 0;
}