body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

.main {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background: #38bdf8;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.stats {
  display: flex;
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}

.event {
  background: #020617;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}