body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: rgba(30, 41, 59, 0.9);
  padding: 25px;
  border-radius: 20px;
  width: 380px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 10px;
  border: none;
}

input {
  background: #020617;
  color: white;
}

button {
  background: #38bdf8;
  cursor: pointer;
}

.event {
  background: #1e293b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}